
<% if(imgURL){ %>

<div class="bd-highlight p-4 col-sm-12 col-md-6 col-lg-4 col-xl-3" style="text-align: left;" >
	<img data-src="<%= imgURL %>" alt="100%x280" style="width:100%;" src="<%= imgURL %>">
	<h1 style="margin-top: 5px"><%= title %></h1>
	<p class="lead text-muted"><%= desc %></p>

	<% if(tech){ %>
	<p class="text-muted techText">Tech: <%= tech %></p>
	<% } %>

	<% if(linkURL){ %>
	<a href="<%= linkURL %>" class="btn btn-primary"><%= linkTitle %></a>
	<% } %>

</div>
<% } else{ %>
<div class="col bd-highlight p-12" style="text-align: center">

	<h1 style="margin-top: 7%"><%= title %></h1>
	<p class="projectDesc"><%= desc %></p>

	<% if(tech){ %>
	<p class="text-muted techText">Tech: <%= tech %></p>
	<% } %>

	<% if(linkURL){ %>
	<a href="<%= linkURL %>" class="btn btn-primary" style="margin-bottom: 20px"><%= linkTitle %></a>
	<% } %>
</div>
<% } %>
